/******************** Fonts ********************/

@font-face {
  font-family: BebasNeue;
  font-weight: 100;
  src: url(../assets/fonts/BebasNeue-Light.ttf) format("truetype"),
    url(../assets/fonts/BebasNeue-Light.off) format("off");
}
@font-face {
  font-family: BebasNeue;
  font-weight: 400;
  src: url(../assets/fonts/BebasNeue-Regular.ttf) format("truetype"),
    url(../assets/fonts/BebasNeue-Regular.off) format("off");
}

@font-face {
  font-family: "Myriad Pro";
  src: url(../assets/fonts/Myriadpro-Regular.woff2) format("woff2"),
    url(../assets/fonts/Myriadpro-Regular.woff) format("woff"),
    url(../assets/fonts/Myriadpro-Regular.ttf) format("truetype");
}

/******************** Header ********************/
.integrated-header nav.navbar {
  width: 100%;
  min-height: initial;
  background: #010101;
  border-radius: 0;
  border: none !important;
  box-shadow: none;
  margin: 0;
  padding: 0;
}
.integrated-header nav.navbar {
  border: none;
  border-radius: 0;
  padding: 0;
}
.integrated-header nav.navbar ul.navbar-nav {
  float: initial;
  margin: 0 auto;
  display: table;
  padding: 0 25px;
}
.integrated-header nav.navbar ul.navbar-nav li {
  position: relative;
  padding: 23px 0 21px;
  margin: 0;
  list-style: none;
  float: left;
  margin-right: 161px;
}
.integrated-header nav.navbar ul.navbar-nav li:before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background: #e8eaeb;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  margin-left: -7px;
  opacity: 0;
}
.integrated-header nav.navbar ul.navbar-nav li.fa_star:before,
.integrated-header nav.navbar ul.navbar-nav li.fa_cube:before {
  bottom: -13px;
}
.integrated-header nav.navbar ul.navbar-nav li:last-child {
  margin-right: 0;
}
.integrated-header nav.navbar ul.navbar-nav li a {
  font-family: BebasNeue;
  font-weight: 400;
  font-size: 19px;
  line-height: normal;
  color: #7c7c7c !important;
  background: transparent !important;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  margin: 0;
  padding: 0;
}
.integrated-header nav.navbar ul.navbar-nav li.active a,
.integrated-header nav.navbar ul.navbar-nav li a:hover {
  color: #ffffff !important;
}
.integrated-header nav.navbar ul.navbar-nav li a span {
  font-family: BebasNeue;
  font-weight: 700;
}
.integrated-header nav.navbar ul.navbar-nav li.fa_star a,
.integrated-header nav.navbar ul.navbar-nav li.fa_cube a {
  font-size: 15px;
  color: #7c7c7c !important;
  margin: 4px 0 0;
}
.integrated-header nav.navbar ul.navbar-nav li.fa_star.active a,
.integrated-header nav.navbar ul.navbar-nav li.fa_cube.active a,
.integrated-header nav.navbar ul.navbar-nav li.fa_star a:hover,
.integrated-header nav.navbar ul.navbar-nav li.fa_cube a:hover {
  color: #ffffff !important;
}
.integrated-header nav.navbar ul.navbar-nav li.active:before {
  opacity: 1;
}

.integrated-header nav.navbar ul.navbar-nav li.fa_star {
  margin-right: 171px;
  margin-left: -1px;
}
.integrated-header nav.navbar ul.navbar-nav li:nth-child(3) {
  margin-right: 173px;
}
.integrated-header nav.navbar ul.navbar-nav li:nth-child(4) {
  margin-right: 185px;
}
.integrated-header header {
  width: 100%;
  display: inline-block;
  padding: 29px 0 0;
}
.integrated-header header .logo {
  float: left;
}
.integrated-header header .Menu-icon {
  position: relative;
  float: right;
  padding: 4px 0 0;
}
.integrated-header header .Menu-icon a img {
  width: 40px;
}

/******/

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: inline-block;
  z-index: 999;
}

.p-global-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
}
@media all and (min-width: 768px) {
  .p-global-header {
    min-width: 1100px;
  }
}
.p-global-header__in {
  position: absolute;
  left: 0;
  right: 0;
}
@media all and (min-width: 768px) {
  .p-global-header__in {
    top: 68px;
  }
}
@media all and (max-width: 767px) {
  .p-global-header__in {
    top: 38px;
  }
}
@media all and (min-width: 768px) {
  .p-global-header__in {
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
  }
}
.p-global-header__in {
  opacity: 0;
  pointer-events: none;
}
.p-global-header__in.is-mounted {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.p-global-header__in.is-mounted.is-shown {
  opacity: 1;
  pointer-events: auto;
}
.p-global-logo {
  position: absolute;
  left: 0;
  z-index: 100;
}
@media all and (min-width: 768px) {
  .p-global-logo {
    top: 38px;
  }
}
@media all and (max-width: 767px) {
  .p-global-logo {
    top: 16px;
    left: 7.77778%;
  }
}
.p-global-logo svg {
  fill: #fff;
}
@media all and (max-width: 767px) {
  .p-global-logo svg {
    width: 39px;
    height: 18px;
  }
}
.p-global-logo.is-mounted svg {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: fill;
  transition-property: fill;
}
.p-global-logo.is-black svg {
  fill: #000;
}
.p-global-nav-bar {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: visible;
}
@media all and (min-width: 768px) {
  .p-global-nav-bar {
    height: 85px;
  }
}
@media all and (max-width: 767px) {
  .p-global-nav-bar {
    height: 46px;
  }
}
.p-global-nav-bar__in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  position: relative;
  padding-left: 0;
  background-color: #010101;
}
.p-global-nav-bar__in li {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media all and (min-width: 768px) {
  .p-global-nav-bar__in li.has-icon {
    width: 540px;
  }
  .p-global-nav-bar__in li.has-icon:first-child {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .p-global-nav-bar__in li.has-icon:first-child a::before {
    left: calc(50% - 34px) !important;
  }
  .p-global-nav-bar__in li.has-icon:first-child::before {
    width: calc(50% - 43px);
  }
  .p-global-nav-bar__in li.has-icon:first-child::after {
    width: calc(50% + 25px);
  }
  .p-global-nav-bar__in li.has-icon:last-child {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .p-global-nav-bar__in li.has-icon:last-child a::before {
    right: calc(50% - 63px) !important;
    left: unset !important;
  }
  .p-global-nav-bar__in li.has-icon:last-child::before {
    width: calc(50% + 24px);
  }
  .p-global-nav-bar__in li.has-icon:last-child::after {
    width: calc(50% - 44px);
  }
}
@media all and (max-width: 767px) {
  .p-global-nav-bar__in li.has-icon {
    width: 38px;
  }
}
.p-global-nav-bar__in li::before {
  position: absolute;
  content: "";
  top: calc(100% - 1px);
  left: -1px;
  background-color: #000;
  border-bottom: 1px solid #292929;
}
@media all and (min-width: 768px) {
  .p-global-nav-bar__in li::before {
    width: calc(50% - 9px);
    height: 21px;
  }
}
@media all and (max-width: 767px) {
  .p-global-nav-bar__in li::before {
    width: calc(50% - 4px);
    height: 11px;
  }
}
.p-global-nav-bar__in li::after {
  position: absolute;
  content: "";
  top: calc(100% - 1px);
  right: -1px;
  background-color: #000;
  border-bottom: 1px solid #292929;
}
@media all and (min-width: 768px) {
  .p-global-nav-bar__in li::after {
    width: calc(50% - 9px);
    height: 21px;
  }
}
@media all and (max-width: 767px) {
  .p-global-nav-bar__in li::after {
    width: calc(50% - 4px);
    height: 11px;
  }
}
@media all and (max-width: 767px) {
  .p-global-nav-bar__in li {
    padding-bottom: 2px;
  }
  .p-global-nav-bar__in li:nth-child(4) {
    width: calc(100% - 50px);
  }
}
.p-global-nav-bar__in::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(-100% + 1px);
  width: 100%;
  background: #010101;
  border-bottom: 1px solid #292929;
}
@media all and (min-width: 768px) {
  .p-global-nav-bar__in::before {
    height: 66px;
  }
}
@media all and (max-width: 767px) {
  .p-global-nav-bar__in::before {
    height: 38px;
  }
}
.p-global-nav-bar__in::after {
  content: "";
  position: absolute;
  top: 0;
  right: calc(-100% + 1px);
  width: 100%;
  background: #010101;
  border-bottom: 1px solid #292929;
}
@media all and (min-width: 768px) {
  .p-global-nav-bar__in::after {
    height: 66px;
  }
}
@media all and (max-width: 767px) {
  .p-global-nav-bar__in::after {
    height: 38px;
  }
}
@media all and (min-width: 768px) {
  .p-global-nav-bar__in {
    max-width: 1100px;
    height: 46px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media all and (max-width: 767px) {
  .p-global-nav-bar__in {
    height: 28px;
    margin-left: 7.77778%;
    margin-right: 7.77778%;
  }
}
.p-global-nav-bar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  color: #7c7c7c;
  font-family: BebasNeue, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.075em;
}
@media all and (min-width: 1025px) {
  .p-global-nav-bar__item {
    font-size: 19px;
    font-size: 1.1875rem;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .p-global-nav-bar__item {
    font-size: 19px;
    font-size: 1.1875rem;
  }
}
@media all and (min-width: 415px) and (max-width: 767px) {
  .p-global-nav-bar__item {
    font-size: 12px;
  }
}
@media all and (max-width: 414px) {
  .p-global-nav-bar__item {
    font-size: 2.91667vw;
  }
}
.p-global-nav-bar__item svg {
  fill: #7c7c7c;
  margin-bottom: 3px;
}
@media all and (max-width: 767px) {
  .p-global-nav-bar__item svg {
    width: 8px;
    height: 8px;
  }
}
@media all and (min-width: 768px) {
  .p-global-nav-bar__item--has-icon {
    width: 68px;
  }
}
@media all and (max-width: 767px) {
  .p-global-nav-bar__item--has-icon {
    width: 38px;
  }
}
.p-global-nav-bar__item::before {
  background-image: url(../img/hamburger-menu/arrow-menu-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1px;
  border-bottom: none;
  position: absolute;
  content: "";
  top: calc(100% + 9px);
  left: 50%;
  border-bottom: 1px solid #292929;
}
@media all and (min-width: 768px) {
  .p-global-nav-bar__item::before {
    height: 21px;
    width: 30px;
    top: calc(100% + 9px);
    -webkit-transform: translate(-51%, -51%);
    transform: translate(-51%, -51%);
  }
}
@media all and (max-width: 767px) {
  .p-global-nav-bar__item::before {
    height: 11px;
    width: 15px;
    top: calc(100% + 4px);
    -webkit-transform: translate(-51%, -51%);
    transform: translate(-51%, -51%);
  }
}
@media all and (min-width: 768px) {
  .p-global-nav-bar {
    -webkit-transform: translate3d(0, -69px, 0);
    transform: translate3d(0, -69px, 0);
  }
}
@media all and (max-width: 767px) {
  .p-global-nav-bar {
    -webkit-transform: translate3d(0, -39px, 0);
    transform: translate3d(0, -39px, 0);
  }
}
.p-global-nav-bar.is-mounted {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.p-global-nav-bar.is-mounted.is-shown {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.p-global-nav-bar__item {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: color;
  transition-property: color;
  height: 100%;
}
.p-global-nav-bar__item svg {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: fill;
  transition-property: fill;
}
.p-global-nav-bar__item.is-current,
.p-global-nav-bar__item.is-over {
  color: #fff;
}
.p-global-nav-bar__item.is-current svg,
.p-global-nav-bar__item.is-over svg {
  fill: #fff;
}
.p-global-nav-bar__item.is-current::before {
  background-image: url(../assets/img/hamburger-menu/arrow-menu-2.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 1px;
  border-bottom: none;
  position: absolute;
  content: "";
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media all and (min-width: 768px) {
  .p-global-nav-bar__item.is-current::before {
    width: 21px;
    height: 24px;
    top: calc(100% + 8px);
  }
}
@media all and (max-width: 767px) {
  .p-global-nav-bar__item.is-current::before {
    width: 10.5px;
    height: 12.5px;
    top: calc(100% + 4px);
  }
}

.p-hamburger {
  cursor: pointer;
  position: initial;
  z-index: 100;
}
@media all and (min-width: 768px) {
  .p-hamburger {
    width: 42px;
    height: 25px;
    top: 0;
    right: 18px;
  }
}
@media all and (max-width: 767px) {
  .p-hamburger {
    width: 42px;
    height: 42px;
    top: 6px;
    right: calc(84 / 1080 * 100%);
  }
}
.p-hamburger__line {
  overflow: hidden;
  position: absolute;
  border-radius: 1px;
}
@media all and (min-width: 768px) {
  .p-hamburger__line {
    height: 2px;
  }
}
@media all and (max-width: 767px) {
  .p-hamburger__line {
    height: 2px;
  }
}
@media all and (min-width: 768px) {
  .p-hamburger__line--01,
  .p-hamburger__line--02,
  .p-hamburger__line--03,
  .p-hamburger__line--cross01,
  .p-hamburger__line--cross02 {
    right: 0;
  }
}
@media all and (max-width: 767px) {
  .p-hamburger__line--01,
  .p-hamburger__line--02,
  .p-hamburger__line--03,
  .p-hamburger__line--cross01,
  .p-hamburger__line--cross02 {
    right: 10.5px;
  }
}
@media all and (min-width: 768px) {
  .p-hamburger__line--01 {
    width: 28px;
    top: 8px;
  }
}
@media all and (max-width: 767px) {
  .p-hamburger__line--01 {
    width: 14px;
    top: 14px;
  }
}
@media all and (min-width: 768px) {
  .p-hamburger__line--02 {
    width: 35px;
  }
}
@media all and (max-width: 767px) {
  .p-hamburger__line--02 {
    width: 18px;
  }
}
@media all and (min-width: 768px) {
  .p-hamburger__line--02,
  .p-hamburger__line--cross01,
  .p-hamburger__line--cross02 {
    top: 16px;
  }
}
@media all and (max-width: 767px) {
  .p-hamburger__line--02,
  .p-hamburger__line--cross01,
  .p-hamburger__line--cross02 {
    top: 19px;
  }
}
@media all and (min-width: 768px) {
  .p-hamburger__line--03 {
    top: 24px;
  }
}
@media all and (max-width: 767px) {
  .p-hamburger__line--03 {
    top: 24px;
  }
}
@media all and (min-width: 768px) {
  .p-hamburger__line--03,
  .p-hamburger__line--cross01,
  .p-hamburger__line--cross02 {
    width: 42px;
  }
}
@media all and (max-width: 767px) {
  .p-hamburger__line--03,
  .p-hamburger__line--cross01,
  .p-hamburger__line--cross02 {
    width: 21px;
  }
}
.p-hamburger__line--cross01 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.p-hamburger__line--cross02 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.p-hamburger__line-in {
  width: 300%;
  position: absolute;
  top: 0;
  left: 0;
}
@media all and (min-width: 768px) {
  .p-hamburger__line-in {
    height: 2px;
  }
}
@media all and (max-width: 767px) {
  .p-hamburger__line-in {
    width: 63px;
    height: 2px;
  }
}
.p-hamburger__line-in:after,
.p-hamburger__line-in:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media all and (min-width: 768px) {
  .p-hamburger__line-in:after,
  .p-hamburger__line-in:before {
    height: 2px;
  }
}
@media all and (max-width: 767px) {
  .p-hamburger__line-in:after,
  .p-hamburger__line-in:before {
    height: 2px;
  }
}
.p-hamburger__line-in:after {
  left: 0;
}
@media all and (min-width: 768px) {
  .p-hamburger__line-in--01:after,
  .p-hamburger__line-in--01:before {
    width: 28px;
  }
}
@media all and (max-width: 767px) {
  .p-hamburger__line-in--01:after,
  .p-hamburger__line-in--01:before {
    width: 14px;
  }
}
@media all and (min-width: 768px) {
  .p-hamburger__line-in--01:before {
    left: -56px;
  }
}
@media all and (max-width: 767px) {
  .p-hamburger__line-in--01:before {
    left: -28px;
  }
}
@media all and (min-width: 768px) {
  .p-hamburger__line-in--02:after,
  .p-hamburger__line-in--02:before {
    width: 35px;
  }
}
@media all and (max-width: 767px) {
  .p-hamburger__line-in--02:after,
  .p-hamburger__line-in--02:before {
    width: 18px;
  }
}
@media all and (min-width: 768px) {
  .p-hamburger__line-in--02:before {
    left: -70px;
  }
}
@media all and (max-width: 767px) {
  .p-hamburger__line-in--02:before {
    left: -36px;
  }
}
@media all and (min-width: 768px) {
  .p-hamburger__line-in--03:after,
  .p-hamburger__line-in--03:before,
  .p-hamburger__line-in--cross01:after,
  .p-hamburger__line-in--cross01:before,
  .p-hamburger__line-in--cross02:after,
  .p-hamburger__line-in--cross02:before {
    width: 42px;
  }
}
@media all and (max-width: 767px) {
  .p-hamburger__line-in--03:after,
  .p-hamburger__line-in--03:before,
  .p-hamburger__line-in--cross01:after,
  .p-hamburger__line-in--cross01:before,
  .p-hamburger__line-in--cross02:after,
  .p-hamburger__line-in--cross02:before {
    width: 21px;
  }
}
@media all and (min-width: 768px) {
  .p-hamburger__line-in--03:before,
  .p-hamburger__line-in--cross01:before,
  .p-hamburger__line-in--cross02:before {
    left: -84px;
  }
}
@media all and (max-width: 767px) {
  .p-hamburger__line-in--03:before,
  .p-hamburger__line-in--cross01:before,
  .p-hamburger__line-in--cross02:before {
    left: -42px;
  }
}
.p-hamburger__line-in--01:after,
.p-hamburger__line-in--01:before,
.p-hamburger__line-in--02:after,
.p-hamburger__line-in--02:before,
.p-hamburger__line-in--03:after,
.p-hamburger__line-in--03:before {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  background-color: #000000;
}
.p-hamburger__line-in--cross01,
.p-hamburger__line-in--cross02 {
  -webkit-transform: translateX(-33.3%);
  transform: translateX(-33.3%);
}
.p-hamburger__line-in--cross01:after,
.p-hamburger__line-in--cross01:before,
.p-hamburger__line-in--cross02:after,
.p-hamburger__line-in--cross02:before {
  background-color: #fff;
}
.p-hamburger.is-mounted .p-hamburger__line {
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.p-hamburger.is-mounted .p-hamburger__line-in {
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.p-hamburger.is-mounted .p-hamburger__line-in:after,
.p-hamburger.is-mounted .p-hamburger__line-in:before {
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: transform, background-color;
  transition-property: transform, background-color, -webkit-transform;
}
.p-hamburger.is-mounted .p-hamburger__line-in--01 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.p-hamburger.is-mounted .p-hamburger__line-in--02 {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.p-hamburger.is-mounted .p-hamburger__line-in--02:after,
.p-hamburger.is-mounted .p-hamburger__line-in--02:before {
  -webkit-transition-delay: 50ms;
  transition-delay: 50ms;
}
.p-hamburger.is-mounted .p-hamburger__line-in--03 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.p-hamburger.is-mounted .p-hamburger__line-in--03:after,
.p-hamburger.is-mounted .p-hamburger__line-in--03:before {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.p-hamburger.is-mounted .p-hamburger__line-in--01:after,
.p-hamburger.is-mounted .p-hamburger__line-in--01:before,
.p-hamburger.is-mounted .p-hamburger__line-in--02:after,
.p-hamburger.is-mounted .p-hamburger__line-in--02:before,
.p-hamburger.is-mounted .p-hamburger__line-in--03:after,
.p-hamburger.is-mounted .p-hamburger__line-in--03:before {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.p-hamburger.is-mounted .p-hamburger__line-in--cross01 {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.p-hamburger.is-mounted .p-hamburger__line-in--cross02 {
  -webkit-transition-delay: 50ms;
  transition-delay: 50ms;
}
.p-hamburger.is-mounted .p-hamburger__line-in--cross02:after,
.p-hamburger.is-mounted .p-hamburger__line-in--cross02:before {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.p-hamburger.is-mounted.is-black .p-hamburger__line-in--01:after,
.p-hamburger.is-mounted.is-black .p-hamburger__line-in--01:before,
.p-hamburger.is-mounted.is-black .p-hamburger__line-in--02:after,
.p-hamburger.is-mounted.is-black .p-hamburger__line-in--02:before,
.p-hamburger.is-mounted.is-black .p-hamburger__line-in--03:after,
.p-hamburger.is-mounted.is-black .p-hamburger__line-in--03:before,
.p-hamburger.is-mounted.is-black .p-hamburger__line-in--cross01:after,
.p-hamburger.is-mounted.is-black .p-hamburger__line-in--cross01:before,
.p-hamburger.is-mounted.is-black .p-hamburger__line-in--cross02:after,
.p-hamburger.is-mounted.is-black .p-hamburger__line-in--cross02:before {
  background-color: #000;
}
.p-hamburger.is-mounted.is-opened-navi .p-hamburger__line-in--01,
.p-hamburger.is-mounted.is-opened-navi .p-hamburger__line-in--02,
.p-hamburger.is-mounted.is-opened-navi .p-hamburger__line-in--03 {
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
}
.p-hamburger.is-mounted.is-opened-navi .p-hamburger__line-in--cross01,
.p-hamburger.is-mounted.is-opened-navi .p-hamburger__line-in--cross02 {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.p-hamburger.is-mounted.is-opened-navi .p-hamburger__line-in--01 {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.p-hamburger.is-mounted.is-opened-navi .p-hamburger__line-in--02 {
  -webkit-transition-delay: 50ms;
  transition-delay: 50ms;
}
.p-hamburger.is-mounted.is-opened-navi .p-hamburger__line-in--03 {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.p-hamburger.is-mounted.is-opened-navi .p-hamburger__line-in--cross01 {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.p-hamburger.is-mounted.is-opened-navi .p-hamburger__line-in--cross02 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.p-hamburger.is-mounted.is-over .p-hamburger__line-in:after,
.p-hamburger.is-mounted.is-over .p-hamburger__line-in:before {
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
}
.p-hamburger.is-mounted.is-over .p-hamburger__line-in--01:after,
.p-hamburger.is-mounted.is-over .p-hamburger__line-in--01:before,
.p-hamburger.is-mounted.is-over .p-hamburger__line-in--02:after,
.p-hamburger.is-mounted.is-over .p-hamburger__line-in--02:before,
.p-hamburger.is-mounted.is-over .p-hamburger__line-in--03:after,
.p-hamburger.is-mounted.is-over .p-hamburger__line-in--03:before {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.p-hamburger.is-mounted.is-over .p-hamburger__line-in--cross01:after,
.p-hamburger.is-mounted.is-over .p-hamburger__line-in--cross01:before,
.p-hamburger.is-mounted.is-over .p-hamburger__line-in--cross02:after,
.p-hamburger.is-mounted.is-over .p-hamburger__line-in--cross02:before {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
.p-hamburger.is-mounted.is-opened-navi.is-over
  .p-hamburger__line-in--cross01:after,
.p-hamburger.is-mounted.is-opened-navi.is-over
  .p-hamburger__line-in--cross01:before,
.p-hamburger.is-mounted.is-opened-navi.is-over
  .p-hamburger__line-in--cross02:after,
.p-hamburger.is-mounted.is-opened-navi.is-over
  .p-hamburger__line-in--cross02:before {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.p-hamburger.is-mounted.is-opened-navi.is-over .p-hamburger__line-in--01:after,
.p-hamburger.is-mounted.is-opened-navi.is-over .p-hamburger__line-in--01:before,
.p-hamburger.is-mounted.is-opened-navi.is-over .p-hamburger__line-in--02:after,
.p-hamburger.is-mounted.is-opened-navi.is-over .p-hamburger__line-in--02:before,
.p-hamburger.is-mounted.is-opened-navi.is-over .p-hamburger__line-in--03:after,
.p-hamburger.is-mounted.is-opened-navi.is-over
  .p-hamburger__line-in--03:before {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
.p-hamburger.is-mounted.is-leave .p-hamburger__line-in--01:after,
.p-hamburger.is-mounted.is-leave .p-hamburger__line-in--01:before,
.p-hamburger.is-mounted.is-leave .p-hamburger__line-in--02:after,
.p-hamburger.is-mounted.is-leave .p-hamburger__line-in--02:before,
.p-hamburger.is-mounted.is-leave .p-hamburger__line-in--03:after,
.p-hamburger.is-mounted.is-leave .p-hamburger__line-in--03:before {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
.p-hamburger-menu-wrapper {
  background-image: url(../assets/img/hamburger-menu/hamburger-menu-bg.png);
  background-color: #fff;
  background-size: cover;
  width: 100%;
  position: absolute;
  z-index: 99;
  opacity: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  font-family: "Raleway", sans-serif !important;
}
@media all and (min-width: 768px) {
  .p-hamburger-menu-wrapper {
    top: 67px;
  }
}
@media all and (max-width: 767px) {
  .p-hamburger-menu-wrapper {
    top: 39px;
  }
}
.p-hamburger-menu-wrapper .p-hamburger-menu {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  height: 67%;
}
@media all and (min-width: 1150px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu {
    width: 1100px;
  }
}
@media all and (max-height: 660px) and (max-width: 767px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu {
    height: 60%;
  }
}
.p-hamburger-menu-wrapper .p-hamburger-menu__hashtag {
  color: #0f100f;
  text-transform: uppercase;
  display: block;
  font-family: BebasNeue;
  font-weight: 100;
  position: absolute;
  top: 22%;
  left: 6%;
  letter-spacing: -1px;
}
@media all and (min-width: 1025px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__hashtag {
    font-size: 32.52px;
    font-size: 2.0325rem;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__hashtag {
    font-size: 30px;
    font-size: 1.875rem;
  }
}
@media all and (min-width: 415px) and (max-width: 767px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__hashtag {
    font-size: 14px;
  }
}
@media all and (max-width: 414px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__hashtag {
    font-size: 3.33333vw;
  }
}
.p-hamburger-menu-wrapper .p-hamburger-menu__hashtag strong {
  font-family: BebasNeue;
  font-weight: 400;
}
@media all and (max-width: 767px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__hashtag {
    display: none;
  }
}
.p-hamburger-menu-wrapper .p-hamburger-menu__soaial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  bottom: 6%;
}
@media all and (min-width: 768px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__soaial {
    top: 78%;
  }
}
@media all and (max-height: 870px) and (min-width: 768px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__soaial {
    top: 66%;
  }
}
@media all and (max-height: 660px) and (max-width: 767px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__soaial {
    bottom: 2%;
  }
}
.p-hamburger-menu-wrapper .p-hamburger-menu__soaial-icon {
  margin-right: 4px;
  margin-left: 4px;
}
@media all and (min-width: 768px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__soaial-icon {
    width: 38px;
    height: 38px;
  }
}
@media all and (max-width: 767px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__soaial-icon {
    width: 28px;
    height: 28px;
  }
}
@media all and (max-width: 767px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__soaial {
    left: 50%;
    -webkit-transform: translatex(-50%);
    transform: translatex(-50%);
  }
}
.p-hamburger-menu-wrapper .p-hamburger-menu__call-right {
  position: absolute;
  top: 48px;
  font-family: "Myriad Pro";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.p-hamburger-menu-wrapper .p-hamburger-menu__call-right img {
  padding-right: 10px;
  width: 13px;
  vertical-align: unset;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}
.p-hamburger-menu-wrapper .p-hamburger-menu__call-right a {
  color: #0f100f;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}
@media all and (min-width: 1025px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__call-right a {
    font-size: 16.11px;
    font-size: 1.00687rem;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__call-right a {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media all and (min-width: 415px) and (max-width: 767px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__call-right a {
    font-size: 14px;
  }
}
@media all and (max-width: 414px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__call-right a {
    font-size: 3.33333vw;
  }
}
@media all and (min-width: 768px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__call-right {
    right: 90px;
  }
}
@media all and (max-width: 767px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__call-right {
    right: 19%;
    top: 17px;
  }
}
.p-hamburger-menu-wrapper .p-hamburger-menu__ph {
  padding-right: 15px;
}
.p-hamburger-menu-wrapper .p-hamburger-menu__list {
  margin-top: 0;
  padding-left: 0;
  list-style-type: none;
  position: absolute;
  text-transform: uppercase;
  text-align: right;
  top: 40%;
  border-right: 3px solid #000;
  padding-right: 45px;
  font-family: BebasNeue;
  font-weight: 100;
}
@media all and (min-width: 1025px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__list {
    font-size: 33.33px;
    font-size: 2.08312rem;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__list {
    font-size: 28px;
    font-size: 1.75rem;
  }
}
@media all and (min-width: 415px) and (max-width: 767px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__list {
    font-size: 28px;
  }
}
@media all and (max-width: 414px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__list {
    font-size: 6.66667vw;
  }
}
@media all and (min-width: 1025px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__list {
    right: 27px;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__list {
    right: 17px;
  }
}
@media all and (max-width: 767px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__list {
    bottom: unset;
    top: 25%;
    padding-right: 0;
    border-right: none;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
  }
}
@media all and (max-height: 870px) and (min-width: 768px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__list {
    top: 30%;
  }
}
@media all and (max-height: 660px) and (max-width: 767px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__list {
    top: 20%;
  }
}
.p-hamburger-menu-wrapper .p-hamburger-menu__link {
  text-decoration: none;
  color: #0f100f;
  cursor: pointer;
  line-height: 2;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}
.p-hamburger-menu-wrapper .p-hamburger-menu__link.active,
.p-hamburger-menu-wrapper .p-hamburger-menu__link:focus,
.p-hamburger-menu-wrapper .p-hamburger-menu__link:hover {
  color: #be1d82;
  font-weight: 400;
}
@media all and (min-width: 768px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__link {
    line-height: 1.75;
  }
}
@media only screen and (max-height: 750px) and (min-width: 768px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__link {
    line-height: 1.5;
  }
}
@media all and (max-height: 660px) and (max-width: 767px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__link {
    line-height: 1.45;
  }
}
@media all and (max-width: 767px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__item {
    line-height: 1.5;
  }
}
.p-hamburger-menu-wrapper .p-hamburger-menu__item-star {
  line-height: 1;
}
@media all and (min-width: 768px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__item-star {
    display: none;
  }
}
.p-hamburger-menu-wrapper .p-hamburger-menu__star-wrapper {
  position: absolute;
  left: 50%;
  top: 15%;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
@media all and (max-width: 767px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__star-wrapper {
    display: none;
  }
}
@media all and (max-height: 870px) and (min-width: 768px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__star-wrapper {
    width: 17%;
  }
}
.p-hamburger-menu-wrapper .p-hamburger-menu__star {
  position: relative;
}
.p-hamburger-menu-wrapper .p-hamburger-menu__star-img {
  width: 100%;
}
.p-hamburger-menu-wrapper .p-hamburger-menu__name {
  position: absolute;
  top: 50%;
  left: -22%;
  color: #be1d82;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  font-family: "Raleway", sans-serif;
}
@media all and (min-width: 1025px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__name {
    font-size: 84.42px;
    font-size: 5.27625rem;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__name {
    font-size: 80px;
    font-size: 5rem;
  }
}
@media all and (min-width: 415px) and (max-width: 767px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__name {
    font-size: 14px;
  }
}
@media all and (max-width: 414px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__name {
    font-size: 3.33333vw;
  }
}
@media only screen and (max-height: 870px) and (min-width: 768px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu__name {
    font-size: 70px;
    font-size: 4.375rem;
  }
}
.p-hamburger-menu-wrapper .p-hamburger-menu__name-line2 {
  position: relative;
  right: -52%;
}
.p-hamburger-menu-wrapper .p-hamburger-menu-get-started-wrapper {
  position: relative;
  height: 33%;
}
@media all and (max-height: 660px) and (max-width: 767px) {
  .p-hamburger-menu-wrapper .p-hamburger-menu-get-started-wrapper {
    height: 40%;
  }
}
.p-hamburger-menu-wrapper .p-hamburger-menu-get-started-wrapper .p-get-started {
  pointer-events: auto;
}
@media all and (min-width: 768px) {
  .p-hamburger-menu-wrapper
    .p-hamburger-menu-get-started-wrapper
    .p-get-started__options {
    margin-top: -6%;
  }
}
@media only screen and (max-height: 750px) and (min-width: 768px) {
  .p-hamburger-menu-wrapper
    .p-hamburger-menu-get-started-wrapper
    .p-get-started__options {
    margin-top: -5.3%;
  }
}
@media all and (max-height: 870px) and (min-width: 768px) {
  .p-hamburger-menu-wrapper
    .p-hamburger-menu-get-started-wrapper
    .p-get-started__option {
    padding-top: 8%;
  }
  .p-hamburger-menu-wrapper
    .p-hamburger-menu-get-started-wrapper
    .p-get-started__option-text1 {
    font-size: 1vw;
  }
  .p-hamburger-menu-wrapper
    .p-hamburger-menu-get-started-wrapper
    .p-get-started__option-text2 {
    font-size: 3vw;
  }
  .p-hamburger-menu-wrapper
    .p-hamburger-menu-get-started-wrapper
    .p-get-started__option-text3 {
    font-size: 1vw;
  }
}
@media all and (max-width: 767px) {
  .p-hamburger-menu-wrapper
    .p-hamburger-menu-get-started-wrapper
    .p-get-started__option {
    margin-top: -6%;
    padding-top: 12%;
  }
  .p-hamburger-menu-wrapper
    .p-hamburger-menu-get-started-wrapper
    .p-get-started__option-text1 {
    font-size: 2vw;
  }
  .p-hamburger-menu-wrapper
    .p-hamburger-menu-get-started-wrapper
    .p-get-started__option-text2 {
    font-size: 3.6vw;
  }
  .p-hamburger-menu-wrapper
    .p-hamburger-menu-get-started-wrapper
    .p-get-started__option-text3 {
    font-size: 2vw;
  }
}
@media all and (max-height: 660px) and (max-width: 767px) {
  .p-hamburger-menu-wrapper
    .p-hamburger-menu-get-started-wrapper
    .p-get-started__option {
    margin-top: -11%;
    padding-top: 20%;
  }
  .p-hamburger-menu-wrapper
    .p-hamburger-menu-get-started-wrapper
    .p-get-started__option-text1 {
    font-size: 3.3vw;
  }
  .p-hamburger-menu-wrapper
    .p-hamburger-menu-get-started-wrapper
    .p-get-started__option-text2 {
    font-size: 8vw;
  }
  .p-hamburger-menu-wrapper
    .p-hamburger-menu-get-started-wrapper
    .p-get-started__option-text3 {
    font-size: 3.3vw;
  }
}
@media all and (max-width: 767px) {
  .p-hamburger-menu-wrapper
    .p-hamburger-menu-get-started-wrapper
    .p-get-started__option--packages {
    top: 25%;
  }
}
@media all and (max-width: 767px) {
  .p-hamburger-menu-wrapper
    .p-hamburger-menu-get-started-wrapper
    .p-get-started__option--quote {
    top: 73%;
  }
}
@media all and (max-height: 660px) and (max-width: 767px) {
  .p-hamburger-menu-wrapper
    .p-hamburger-menu-get-started-wrapper
    .p-get-started__option--quote {
    top: 73%;
  }
}
@media all and (max-width: 767px) {
  .p-hamburger-menu-wrapper
    .p-hamburger-menu-get-started-wrapper
    .p-get-started__bg::before {
    height: 49%;
  }
}
@media all and (max-height: 660px) and (max-width: 767px) {
  .p-hamburger-menu-wrapper
    .p-hamburger-menu-get-started-wrapper
    .p-get-started__bg::before {
    height: 48%;
  }
}
@media all and (max-width: 767px) {
  .p-hamburger-menu-wrapper
    .p-hamburger-menu-get-started-wrapper
    .p-get-started__bg::after {
    height: 51%;
  }
}
@media all and (max-height: 660px) and (max-width: 767px) {
  .p-hamburger-menu-wrapper
    .p-hamburger-menu-get-started-wrapper
    .p-get-started__bg::after {
    height: 53%;
  }
}
@media all and (max-width: 767px) {
  .p-hamburger-menu-wrapper
    .p-hamburger-menu-get-started-wrapper
    .p-get-started__copyright {
    font-size: 6px;
  }
}
.p-hamburger-menu-wrapper.is-hidden {
  opacity: 0;
  height: 0 !important;
  overflow: hidden;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.p-hamburger-menu-wrapper.is-shown {
  opacity: 1;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
@media all and (min-width: 768px) {
  .p-hamburger-menu-wrapper.is-shown {
    height: calc(100vh - 67px);
  }
}
@media all and (max-width: 767px) {
  .p-hamburger-menu-wrapper.is-shown {
    height: calc(100vh - 39px);
  }
}

.p-get-started__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media all and (min-width: 768px) {
  .p-get-started__bg {
    background-size: cover;
    background-position: center;
    background-image: url(../assets/img/hamburger-menu/bg.jpg);
  }
}
@media all and (max-width: 767px) {
  .p-get-started__bg:after,
  .p-get-started__bg:before {
    width: 100%;
    content: "";
    position: absolute;
    left: 0;
    background-size: cover;
    background-position: center;
  }
  .p-get-started__bg:before {
    height: 63.12434%;
    top: 0;
    background-image: url(../assets/img/hamburger-menu/bg_sp1.jpg);
  }
  .p-get-started__bg:after {
    height: 36.87566%;
    bottom: 0;
    background-image: url(../assets/img/hamburger-menu/bg_sp2.jpg);
  }
}
.p-get-started-star-agency__bg,
.p-get-started__bg {
  opacity: 0;
}
.is-hidden .p-get-started-star-agency__bg,
.is-hidden .p-get-started__bg,
.is-leaved-contents .p-get-started-star-agency__bg,
.is-leaved-contents .p-get-started__bg,
.is-shown .p-get-started-star-agency__bg,
.is-shown .p-get-started__bg {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.is-shown .p-get-started-star-agency__bg,
.is-shown .p-get-started__bg {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.is-hidden .p-get-started-star-agency__bg,
.is-hidden .p-get-started__bg {
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.is-leaved-contents .p-get-started-star-agency__bg,
.is-leaved-contents .p-get-started__bg {
  opacity: 0;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.p-get-started__option-or {
  line-height: 1;
  padding-left: 0.1em;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.1em;
}
@media all and (min-width: 768px) {
  .p-get-started__option-or {
    width: 7.55208%;
    font-size: 3.75vw;
  }
}
@media all and (max-width: 767px) {
  .p-get-started__option-or {
    position: absolute;
    top: 63.12434%;
    right: 0;
    left: 0;
    margin-top: -0.5em;
    font-size: 6.66667vw;
  }
}
.p-get-started__copyright,
.p-get-started__option-or {
  opacity: 0;
}
.is-hidden .p-get-started__copyright,
.is-hidden .p-get-started__option-or,
.is-leaved-contents .p-get-started__copyright,
.is-leaved-contents .p-get-started__option-or,
.is-shown .p-get-started__copyright,
.is-shown .p-get-started__option-or {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.is-shown .p-get-started__copyright,
.is-shown .p-get-started__option-or {
  opacity: 1;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
.is-hidden .p-get-started__copyright,
.is-hidden .p-get-started__option-or {
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.is-leaved-contents .p-get-started__copyright,
.is-leaved-contents .p-get-started__option-or {
  opacity: 0;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.p-fullscreen-section {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  pointer-events: none;
}
.p-get-started__options {
  position: absolute;
  z-index: 20;
  right: 0;
  left: 0;
}
@media all and (min-width: 768px) {
  .p-get-started__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 57.3913%;
    margin-top: -5.15625%;
  }
}
@media all and (max-width: 767px) {
  .p-get-started__options {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
.p-get-started__copyright {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  text-align: center;
  font-size: 11px;
  font-family: "Myriad Pro";
  color: rgba(255, 255, 255, 0.451);
  text-transform: uppercase;
}
.p-get-started__option {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 0.95;
  font-weight: 600;
  text-align: center;
}
@media all and (min-width: 768px) {
  .p-get-started__option {
    width: 30.9375%;
    position: relative;
    padding-top: 10.3125%;
  }
}
@media all and (max-width: 767px) {
  .p-get-started__option {
    width: 78.33333%;
    position: absolute;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: -13.05556%;
    padding-top: 26.11111%;
  }
}
@media all and (max-width: 767px) {
  .p-get-started__option--quote {
    top: 80.23379%;
  }
}
@media all and (max-width: 767px) {
  .p-get-started__option--packages {
    top: 42.77365%;
  }
}
.p-get-started__option-in {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.68);
}
@media all and (min-width: 768px) {
  .p-get-started__option-in {
    border-radius: 10px 0 10px 0;
  }
}
@media all and (max-width: 767px) {
  .p-get-started__option-in {
    border-radius: 3px 0 3px 0;
  }
}
.p-get-started__option-in--quote {
  border: 1px solid #fff;
}
.p-get-started__option-in--quote.is-leave,
.p-get-started__option-in--quote:hover {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.p-get-started__option-in--quote:hover {
  color: #000;
  background-color: #fff;
}
.p-get-started__option-in--packages {
  border: solid #be1d82;
}
@media all and (min-width: 768px) {
  .p-get-started__option-in--packages {
    border-width: 10px;
  }
}
@media all and (max-width: 767px) {
  .p-get-started__option-in--packages {
    border-width: 3px;
  }
}
.p-get-started__option-in--packages.is-leave,
.p-get-started__option-in--packages:hover {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.p-get-started__option-in--packages.is-leave span,
.p-get-started__option-in--packages:hover span {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: color;
  transition-property: color;
}
.p-get-started__option-in--packages:hover {
  color: #fff;
  background-color: #be1d82;
}
.p-get-started__option-in--packages:hover span {
  color: #fff;
}
.p-get-started__option-text1 {
  padding-left: 0.2em;
  letter-spacing: 0.2em;
}
@media all and (min-width: 768px) {
  .p-get-started__option-text1 {
    font-size: 1.97917vw;
  }
}
@media all and (max-width: 767px) {
  .p-get-started__option-text1 {
    font-size: 5vw;
  }
}
.p-get-started__option-text2 {
  padding-left: 0.5em;
  letter-spacing: 0.5em;
}
@media all and (min-width: 768px) {
  .p-get-started__option-text2 {
    font-size: 4.21875vw;
  }
}
@media all and (max-width: 767px) {
  .p-get-started__option-text2 {
    font-size: 10.64815vw;
  }
}
.p-get-started__option-text3 {
  padding-left: 0.1em;
  letter-spacing: 0.1em;
}
@media all and (min-width: 768px) {
  .p-get-started__option-text3 {
    font-size: 1.97917vw;
  }
}
@media all and (max-width: 767px) {
  .p-get-started__option-text3 {
    font-size: 5vw;
  }
}
.p-get-started__option-or {
  line-height: 1;
  padding-left: 0.1em;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.1em;
}
@media all and (min-width: 768px) {
  .p-get-started__option-or {
    width: 7.55208%;
    font-size: 3.75vw;
  }
}
@media all and (max-width: 767px) {
  .p-get-started__option-or {
    position: absolute;
    top: 63.12434%;
    right: 0;
    left: 0;
    margin-top: -0.5em;
    font-size: 6.66667vw;
  }
}
.u-tt-u {
  text-transform: uppercase;
}
.p-get-started {
  font-family: BebasNeue, sans-serif;
}
.u-c-key {
  color: #be1d82;
}
.l-page {
  overflow: hidden;
  visibility: visible;
}
.p-get-started__copy-row1 {
  opacity: 0;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}
.is-hidden .p-get-started__copy-row1,
.is-leaved-contents .p-get-started__copy-row1,
.is-shown .p-get-started__copy-row1 {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
}
.is-shown .p-get-started__copy-row1 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.is-hidden .p-get-started__copy-row1 {
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.is-leaved-contents .p-get-started__copy-row1 {
  opacity: 0;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.p-get-started__copy-row2 {
  opacity: 0;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}
.is-hidden .p-get-started__copy-row2,
.is-leaved-contents .p-get-started__copy-row2,
.is-shown .p-get-started__copy-row2 {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
}
.is-shown .p-get-started__copy-row2 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.is-hidden .p-get-started__copy-row2 {
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.is-leaved-contents .p-get-started__copy-row2 {
  opacity: 0;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.p-get-started__option--quote {
  opacity: 0;
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
.is-hidden .p-get-started__option--quote,
.is-leaved-contents .p-get-started__option--quote,
.is-shown .p-get-started__option--quote {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
}
.is-shown .p-get-started__option--quote {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.is-hidden .p-get-started__option--quote {
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.is-leaved-contents .p-get-started__option--quote {
  opacity: 0;
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.p-get-started__option--packages {
  opacity: 0;
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
.is-hidden .p-get-started__option--packages,
.is-leaved-contents .p-get-started__option--packages,
.is-shown .p-get-started__option--packages {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
}
.is-shown .p-get-started__option--packages {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
.is-hidden .p-get-started__option--packages {
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.is-leaved-contents .p-get-started__option--packages {
  opacity: 0;
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.p-get-started__copyright,
.p-get-started__option-or {
  opacity: 0;
}
.is-hidden .p-get-started__copyright,
.is-hidden .p-get-started__option-or,
.is-leaved-contents .p-get-started__copyright,
.is-leaved-contents .p-get-started__option-or,
.is-shown .p-get-started__copyright,
.is-shown .p-get-started__option-or {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.is-shown .p-get-started__copyright,
.is-shown .p-get-started__option-or {
  opacity: 1;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
.is-hidden .p-get-started__copyright,
.is-hidden .p-get-started__option-or {
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.is-leaved-contents .p-get-started__copyright,
.is-leaved-contents .p-get-started__option-or {
  opacity: 0;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.p-get-started-star-agency__bg,
.p-get-started__bg {
  opacity: 0;
}
.is-hidden .p-get-started-star-agency__bg,
.is-hidden .p-get-started__bg,
.is-leaved-contents .p-get-started-star-agency__bg,
.is-leaved-contents .p-get-started__bg,
.is-shown .p-get-started-star-agency__bg,
.is-shown .p-get-started__bg {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.is-shown .p-get-started-star-agency__bg,
.is-shown .p-get-started__bg {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.is-hidden .p-get-started-star-agency__bg,
.is-hidden .p-get-started__bg {
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.is-leaved-contents .p-get-started-star-agency__bg,
.is-leaved-contents .p-get-started__bg {
  opacity: 0;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}

/* Mobile */

@media (max-width: 479px) {
  body {
    height: 100vh;
  }
  .integrated-header nav.navbar ul.navbar-nav li a {
    font-size: 2.91667vw;
  }
  .integrated-header nav.navbar ul.navbar-nav li.fa_star {
    margin-right: 20px;
  }
  .integrated-header nav.navbar ul.navbar-nav {
    padding: 0 20px;
    margin: 0 auto;
    display: table;
    width: auto;
  }
  .integrated-header nav.navbar ul.navbar-nav li.fa_star a,
  .integrated-header nav.navbar ul.navbar-nav li.fa_cube a {
    font-size: 2.91667vw;
    margin: 0 0 0;
  }
  .integrated-header nav.navbar ul.navbar-nav li {
    padding: 15px 0;
  }
  .integrated-header nav.navbar ul.navbar-nav li {
    margin-right: 12.5px;
  }
  .integrated-header nav.navbar ul.navbar-nav li:nth-child(3) {
    margin-right: 12.5px;
  }
  .integrated-header nav.navbar ul.navbar-nav li:nth-child(4) {
    margin-right: 20px;
  }
  .integrated-header header {
    padding: 10px 0 0;
  }
}

/** Misc **/

.integrated-header header .toolbar {
  flex-direction: row;
}

.page-clientareahome .integrated-header nav.navbar ul.navbar-nav li:before {
  background: #ffffff;
}

h4.account-info:before {
  content: "";
  position: absolute;
  top: 0;
  left: 14px;
  width: 14px;
  height: 26px;
  background: #bc2582;
}

h4.nav-billing:before {
  content: "";
  position: absolute;
  top: 24px;
  left: 0;
  width: 26px;
  height: 14px;
  background: #bc2582;
}

.page-login section#main-body {
  padding-top: 0px !important;
}
